<div class='row home'>
<!--   <form role="form col-md-4">
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="Grand Rapids">
    </div>
  </form>
 -->  
  <%= link_to ideas_url do %>
    <%= button_tag class: 'submit btn btn-primary btn-info btn-lg col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1' do %>
      Find Date Ideas For Grand Rapids
    <% end %>
  <% end %>
</div>
