
body {
  padding-top: 70px;
  header.header{
    div.container{
      width: 480px;
      button{
        margin-top: 8px;
      }
    }
  }
  div.main{
    div.container{
      width: 460px;
    }
    header {
      background-color: orange;
    }
  }
}