
body {
  padding-top: 70px;
  header.header{
    h3.header{
      text-align: center;
    }
  }
  div.main{
    div.container{
      width: 400px;
    }
    header {
      background-color: orange;
    }
  }
}