
body {
  padding-top: 70px;
  header.header{
    div.container{
      width: 480px;
      h3.header{
        // text-align: center;
      }
    }
  }
  div.main{
    div.container{
      width: 460px;
    }
    header {
      background-color: orange;
    }
  }
}