<header>
  <nav>
    <ul>
      <li>
        <%= link_to root_url do %>
          Awesome Date Ides
        <% end %>
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to new_idea_url do %>
          Add my Awesome Date Idea
        <% end %>
      </li>
    </ul>
  </nav>
</header>